<h1 class="text-center p-2">This is <%= title %></h1>
<div class="bg-secondary mx-auto mt-5 w-50 h-50 p-4 align-middle">
  <p class="text-white font-weight-bold">
    She is my sister . She is 22 years old. She has done Bachelors in Accounting. She loves to cook food. One  of the best thing what i like of her is that she never gives up. 
  </p>
</div>