
    <title><%= title %></title>
   

    <h1 class="text-center p-2"><%= title %></h1>
    <div class="bg-secondary mx-auto mt-5 w-50 h-50 p-4 align-middle">
        <p class="text-white font-weight-bold">Welcome to <%= title %></p>
    </div>
    
 
