<h1 class="text-center p-2">This is <%= title %></h1>
<div class="bg-secondary mx-auto mt-5 w-50 h-50 p-4 align-middle">
<p class="text-white font-weight-bold">This is myself "Jeshan". I had developed interest in programming since high school . 
    I was amazed by the fact that by writing few lines of code , we can make difference in lives of people. This was the reasoni took this diploma in Georgian College. I will study further and get more experience in programming by which i could get a job or business.</p>
    </div>