
<h1 class="text-center p-2">This is <%= title %></h1>
<div class="bg-secondary mx-auto mt-5 w-50 h-50 p-4 align-middle">
<p class="text-white font-weight-bold">Ranveer is 14 year old.He is my younger brother . He is very naughty and is currently in school.
    He always skip the studies and find different ways to get out to play. </p>
    </div>