<h1 class="text-center p-2">This is <%= title %></h1>
<div class="bg-secondary mx-auto mt-5 w-50 h-50 p-4 align-middle">
<p class="text-white font-weight-bold">She is my mom. She is a housewife. She is the most hardworking person who i admire all the time. 
    I want to pay her hardwork of raising me by fulfilling her desired desires. Hope I would be successful in doing so and make her proud.</p>
    </div>